<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
       <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Add New Chat</h1>
    <div class="form-container">
        <form class="form" method="post" action="/listings">
            <label for="">Who are You?</label>
            <input type="text" name="by" id="" required>
            <label>Write the message into the box</label>
            <textarea name="message" id="" required></textarea>
            <label for="">Whom You want to send message</label>
            <input type="text" name="to" id="" required>
            <button>Add</button>
        </form>
    </div>

</body>

</html>