<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/listing" method="post">
        <input type="text" name="sentby" placeholder="Who are You?" required><br>
        <input type="text" name="message" placeholder="message" required><br>
        <input type="text" name="recievedby" placeholder="Send to ?" required><br><br>
        <button>Send</button>
    </form>
</body>
</html>