<%- include("includes/header.ejs")%>

<body>
    <h1>Roll dice value is <%=value%></h1>
    <%if(value==6){%>
        <h1>Nice! Roll Dice again..</h1>
     <%}%> 
     <%-include("includes/footer.ejs")%>
</body>
</html>