<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Posts</h1>
    <h2>username @ <%=post.user%></h2>
    <h2>id <%=post.id%></h2>

    <form method="post" action="/posts/<%=post.id%>?_method=patch">
        <textarea name="content" id="" rows="10" cols="40" ><%=post.content%></textarea>
        <button>submit</button>
    </form>
</body>
</html>